* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  letter-spacing: 0.4px;
  max-width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

body,
html {
  width: 100%;
  max-width: 100%;
}

.main {
  margin-bottom: 50px;
}

.mini-menu {
  background-color: #f5f5f5;
  padding: 4px 50px;
  z-index: 1000;
}

.sub-brand-logos {
  display: flex;
  gap: 25px;
}

.mini-menu-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mini-menu-links {
  display: flex;
  gap: 10px;
  align-items: center;
}

.mini-menu-links a {
  text-decoration: none;
  color: black;
}

.mini-menu-links p {
  font-size: 12px;
  font-weight: 550;
}

.main-navbar-container {
  padding: 0px 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.brand-logo {
  width: 70px;
  height: 70px;
}

.brand-logo svg {
  height: 100%;
  width: 100%;
  padding: 0;
}

.main-menu {
  display: flex;
  gap: 20px;
  font-weight: 550;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.search-bar-container {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #f5f5f5;
  padding: 5px 70px 5px 10px;
  border-radius: 50px;
}

.search-bar-container p {
  color: #808080;
  font-weight: 550;
}

.menu-toolbar {
  display: flex;
  align-items: center;
  gap: 20px;
}

.mobile-search-bar {
  display: none;
}

.hamburger-menu {
  display: none;
}

.hamburger-menu-mobile {
  height: 100vh;
  position: fixed;
  background-color: white;
  top: 0;
  right: -100%;
  width: 65%;
  transition: right 0.3s ease-in-out;
  -webkit-box-shadow: -2px 0px 20px -10px rgba(171, 171, 171, 1);
  -moz-box-shadow: -2px 0px 20px -10px rgba(171, 171, 171, 1);
  box-shadow: -2px 0px 20px -10px rgba(171, 171, 171, 1);
  /* overflow: auto; */
  z-index: 1;
  overflow-x: hidden;
}

.hamburger-div-container {
  display: block;
  position: absolute;
  width: 100%;
}

.hamburger-div-container.hide {
  display: none;
}

.user-div-container {
  position: absolute;
  right: -100%;
  width: 100%;
  transition: right 0.2s;

  /* display: none; */
}

.user-div-container.show {
  right: 0;
  transition: right 0.2s;

  display: block;
}

.nike-member-buttons a {
  text-decoration: none;
  color: white;
}

.hamburger-menu-mobile.open {
  right: 0;
}

.close-button {
  padding: 30px;
  display: flex;
  flex-direction: row-reverse;
}

.user-close-button {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-menu-container {
  padding: 30px;
}

.user-menu-header p {
  font-size: 25px;
}

.user-menu-list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: gray;
}

.user-menu-list p {
  cursor: pointer;
}

.left-user-div-container {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.left-user-div-container p {
  font-size: 20px;
}

.bottom-padding {
  padding-bottom: 150px;
}

.user-hover-state {
  position: absolute;
  top: 35px;
  right: 50px;
  width: 230px;
  z-index: 1;
  background-color: white;
  transition: opacity 0.2s;
  opacity: 0;
  padding: 20px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.75);
}

.new-arrivals-header {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 10px;
  color: rgb(48, 48, 48);
}

.shop-button {
  font-size: 14px;
  text-decoration: underline;
  font-weight: 600;
}

.sign-in-state {
  display: none;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.user-hover-state.show-user-menu {
  top: 35px;
  opacity: 1;
}

.user-state-hover-header {
  font-weight: 700;
}

.user-state-hover-list {
  font-size: 13px;
}

.user-state-hover-list-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-state-hover-list-container p {
  cursor: pointer;
  color: gray;
}

.user-state-hover-list-container p:hover {
  color: black;
}

.mobile-user {
  align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.user-left-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-left-container svg {
  width: 40px;
  height: 40px;
}

.horizontal-line {
  margin: 100px 44px;
  background-color: rgb(220, 220, 220);
  height: 1px;
}

.footer {
  margin-bottom: 50px;
}

.footer-container {
  display: flex;
  width: 70%;
  gap: 100px;
  justify-content: space-between;
}

.footer-section-1 {
  padding: 0px 0px 44px 44px;
}

.footer-section-1-content {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 13px;
  color: #808080;
  width: 100%;
}

.flex-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.flex-column {
  display: flex;
  gap: 6px;
  color: #808080;
  align-items: center;
  padding-right: 44px;
}

.footer-end {
  margin-top: 100px;
  padding: 0px 44px;
  display: flex;
  align-items: center;
  gap: 6px;
  color: #808080;
}

.footer-end img {
  width: 30px;
}

.nds-summary-control {
  display: none;
}

@media (max-width: 960px) {
  body,
  html {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

  .mini-menu {
    display: none;
  }

  .main-menu {
    display: none;
  }

  .search-bar {
    display: none;
  }

  .mobile-search-bar {
    display: block;
  }

  .hamburger-menu {
    display: block;
  }

  .main-navbar-container {
    padding: 0px 22px;
  }

  .wishlist-button {
    display: none;
  }

  .brand-menu {
    margin-top: 30px;
  }

  .mobile-menu-flex {
    display: flex;
    justify-content: space-between;
    padding: 12px 30px;
    font-size: 20px;
    font-weight: 500;
  }

  .mobile-menu-padding {
    display: flex;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: 500;
    gap: 15px;
    align-items: center;
  }

  .brand-flex svg {
    height: 30px;
    width: 30px;
  }

  .nike-member {
    font-size: 20px;
    margin-top: 30px;
    line-height: 30px;
    color: rgb(100, 100, 100);
    padding: 12px 30px;
  }

  .black {
    color: black;
    font-weight: 600;
  }

  .nike-member-buttons {
    margin-top: 10px;
    display: flex;
    gap: 10px;
  }

  .nike-member-buttons button {
    cursor: pointer;
  }

  .nike-member-buttons button:hover {
    background-color: #808080;
  }

  .button-borders {
    padding: 10px 15px;
    border-radius: 18px;
    border: none;
    font-size: 15px;
  }

  .join-us {
    background-color: black;
    color: white;
  }

  .sign-in {
    background-color: white;
    border: 1px solid #808080;
  }

  .home-display-mobile {
    display: block;
  }

  .home-display-image {
    display: none;
  }

  .home-display-tagline-header {
    font-size: 50px;
  }

  .home-display-tagline-small {
    font-size: 14px;
    line-height: 20px;
  }

  .latest-and-greatest {
    padding: 0px 0px 0px 22px;
  }

  .latest-and-greatest-card {
    width: 75%;
  }

  .latest-and-greates-header-container {
    padding: 0px 22px 0px 0px;
  }

  .shoe-models-absolute {
    position: absolute;
    bottom: 30px;
    left: 30px;
    background-color: white;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 16px;
  }

  .shoe-models-relative {
    position: relative;
  }

  .horizontal-line {
    margin: 100px 22px;
  }

  .flex-footer-container {
    flex-direction: column;
    gap: 50px;
  }

  .footer-container {
    flex-direction: column;
    width: 100%;
    gap: 50px;
  }

  .footer-section-1 {
    padding: 0px 22px;
  }

  .flex-column {
    padding: 0px 18px;
    width: 100%;
  }

  .footer-end {
    justify-content: center;
  }

  .resources-footer {
    opacity: 0;
    max-height: 0;
    transition: opacity 0.5s, max-height 0.5s;
  }

  .resources-footer.show {
    opacity: 1;
    max-height: 500px;
  }

  .help-footer {
    opacity: 0;
    max-height: 0;
    transition: opacity 0.5s, max-height 0.5s;
  }

  .help-footer.show {
    opacity: 1;
    max-height: 500px;
  }

  .footer-header {
    display: flex;
    justify-content: space-between;
  }

  .footer-header-2 {
    display: flex;
    justify-content: space-between;
  }

  .nds-summary-control {
    display: block;
    transition: transform 0.5s;
  }

  .nds-summary-control.rotate {
    transform: rotate(-180deg);
  }

  .footer-divider {
    margin: 0px 22px;
    background-color: rgb(220, 220, 220);
    height: 1px;
  }

  .footer-section-1-content {
    margin-top: 20px;
  }

  .hide-mobile {
    display: none;
  }
}

/* Styles Start */

.details-container {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-body {
  width: 70%;
  display: flex;
  gap: 20px;
}

.image-gallery {
  width: 6%;
  height: 650px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  max-width: 70px;
  position: sticky;
  top: 0; /* Position it at the top when sticky */
  align-self: start;
}

/* Hide the scrollbar for WebKit browsers (Chrome, Safari) */
.image-gallery::-webkit-scrollbar {
  display: none;
}

.image-gallery img {
  width: 80px;
  height: 70px;
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
}

.image-gallery video {
  width: 80px;
  height: 70px;
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
}

.image-gallery img:hover {
  opacity: 0.5;
}

.image-gallery video:hover {
  opacity: 0.5;
}

.image-display {
  width: 50%;
  height: auto;
  position: sticky;
  top: 0; /* Position it at the top when sticky */
  align-self: start;
}

.image-display img {
  border-radius: 8px;
  height: auto;
  width: 100%;
  object-fit: cover;
}

.image-display video {
  border-radius: 8px;
}

.product-details {
  margin-left: 10px;
  width: 40%;
  flex: 1;
}

.product-title {
  font-size: 22px;
  font-weight: 500;
}

.product-gender {
  margin-top: 10px;
}

.product-gender-category {
  margin-top: 10px;
  font-size: 18px;
}

.product-price {
  margin-top: 30px;
  font-size: 18px;
}

.product-size-container {
  margin-top: 40px;
}

.product-size-header {
  display: flex;
  justify-content: space-between;
}

.select-size {
  font-weight: 600;
}

.size-guide {
  color: gray;
}

.product-sizes {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10px;
  gap: 2%;
}

.product-sizes-label {
  border: 1px solid;
  border-color: rgb(215, 215, 215);
  border-radius: 6px;
  padding: 15px 0;
  width: 18%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}

.product-buttons {
  margin-top: 40px;
}

.add-to-cart button {
  width: 100%;
  border: none;
  background-color: black;
  color: white;
  padding: 20px 0;
  border-radius: 30px;
  font-size: 16px;
}

.add-to-cart button:hover {
  background-color: #6f6f6f;
  cursor: pointer;
}

.favourite {
  margin-top: 15px;
}

.favourite-button {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 16px 0;
  border-radius: 30px;
  font-size: 16px;
  justify-content: center;
  gap: 5px;
  background-color: white;
  border: 1px solid rgb(180, 180, 180);
}

.favourite-button:hover {
  border: 1px solid black;
  cursor: pointer;
}

.product-text {
  margin-top: 60px;
}

.product-description {
  line-height: 1.5;
  font-size: 18px;
}

.product-specs {
  margin-left: 40px;
  margin-top: 20px;
  font-size: 18px;
  margin-top: 40px;
}

.product-specs li {
  margin-top: 10px;
}

.view-product-details {
  margin-top: 40px; /* Removed the redundant margin-top */
  font-weight: 600;
  text-decoration: underline;
  font-size: 18px;
  text-underline-offset: 10px; /* Adjust the offset value as needed */
}

.view-product-details p {
  cursor: pointer;
  width: 200px;
}

.toggler-header {
  font-size: 22px;
}

.product-togglers {
  margin-top: 40px;
}

.toggler-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.toggler-divider {
  border: 1px solid rgb(220, 220, 220);
  height: 10px;
  border-left: none;
  border-right: none;
  border-bottom: none;
  margin-top: 30px;
}

.post-details-container {
  padding: 0px 50px;
  margin-top: 100px;
}

.post-details-container-header h2 {
  font-weight: 500;
}

.post-details-container-header p {
  font-size: 18px;
  margin-top: 12px;
  font-weight: 300;
}

.post-details-container-button {
  margin-top: 20px;
}

.post-details-container-button button {
  border: 1px solid rgb(200, 200, 200);
  background-color: white;
  padding: 8px 20px;
  font-size: 18px;
  border-radius: 20px;
}

.instagram-promotion {
  margin-top: 30px;
  display: flex;
  gap: 1%;
}

.promotion-container {
  width: 25%;
}

.promotion-image img {
  border-radius: 10px;
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.promotion-username {
  margin-top: 10px;
}

.product-showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-top: 150px;
}

.product-showcase-header h2 {
  font-weight: 400;
}

.product-showcase-image {
  padding: 0px 50px;
}

.suggested-products {
  padding: 0px 50px;
  margin-top: 100px;
}

.suggested-products h2 {
  font-weight: 400;
}

.suggested-product-image {
  width: 100%;
}

.suggested-product-header {
  margin-top: 15px;
}

.suggested-product-header p {
  font-size: 20px;
}

.suggested-product-gender-category {
  margin-top: 6px;
}

.suggested-product-price {
  margin-top: 15px;
}

.suggested-product-price p {
  font-size: 20px;
}

.suggested-products-container {
  display: flex;
  overflow-x: auto; /* Allows horizontal scrolling */
  padding: 10px; /* Optional: Adds some padding around the content */
  white-space: nowrap; /* Prevents content from wrapping to the next line */
  gap: 20px;
  /* Hides scrollbar for Webkit browsers (Chrome, Safari, Edge) */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.suggested-products-container::-webkit-scrollbar {
  display: none; /* Hides scrollbar for Chrome, Safari, and Edge */
}

.products-container {
  margin-top: 50px;
  width: 400px; /* Adjust the width to ensure it overflows the parent container */
  flex-shrink: 0; /* Prevents the flex item from shrinking */
  cursor: pointer;
}

.hide-toggler {
  display: none;
}

.hide-toggler.show-toggler {
  display: block;
}

.toggler-button-icon {
  display: block;
}

.show-size-and-fit {
  margin-top: 50px;
}

.show-size-and-fit p {
  line-height: 1.5;
}

.size-and-fit-main-container {
  cursor: pointer;
}

.product-details-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 700px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
  display: none;
}

.product-details-card {
  background-color: rgb(207, 207, 207);
  width: 50%;
  padding: 40px;
  border-radius: 20px;
  height: 100px;
}

.product-details-name h3 {
  font-weight: 300;
  font-size: 16px;
}

.product-details-header {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

.product-details-information {
  margin-top: 30px;
  line-height: 1.5;
}

.product-details-left-side {
  display: flex;
  gap: 20px;
}

.product-details-image img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.product-details-name-and-price {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.product-details-close-button {
  width: 35px;
  height: 35px;
  background-color: rgb(200, 200, 200);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

/* Styles End */
