* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  letter-spacing: 0.4px;
  max-width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

body,
html {
  width: 100%;
  max-width: 100%;
}

.main {
  margin-bottom: 50px;
}

.mini-menu {
  background-color: #f5f5f5;
  padding: 4px 50px;
}

.sub-brand-logos {
  display: flex;
  gap: 25px;
}

.mini-menu-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mini-menu-links {
  display: flex;
  gap: 10px;
}

.mini-menu-links p {
  font-size: 12px;
  font-weight: 550;
}

.main-navbar-container {
  padding: 0px 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.brand-logo {
  width: 70px;
  height: 70px;
}

.brand-logo svg {
  height: 100%;
  width: 100%;
  padding: 0;
}

.main-menu {
  display: flex;
  gap: 20px;
  font-weight: 550;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.search-bar-container {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #f5f5f5;
  padding: 5px 70px 5px 10px;
  border-radius: 50px;
}

.search-bar-container p {
  color: #808080;
  font-weight: 550;
}

.menu-toolbar {
  display: flex;
  align-items: center;
  gap: 20px;
}

.mobile-search-bar {
  display: none;
}

.hamburger-menu {
  display: none;
}

.hamburger-menu-mobile {
  height: 100vh;
  position: fixed;
  background-color: white;
  top: 0;
  right: -100%;
  width: 65%;
  transition: right 0.3s ease-in-out;
  -webkit-box-shadow: -2px 0px 20px -10px rgba(171, 171, 171, 1);
  -moz-box-shadow: -2px 0px 20px -10px rgba(171, 171, 171, 1);
  box-shadow: -2px 0px 20px -10px rgba(171, 171, 171, 1);
  overflow: auto;
}

.hamburger-menu-mobile.open {
  right: 0;
}

.close-button {
  padding: 30px;
  display: flex;
  flex-direction: row-reverse;
}

.bottom-padding {
  padding-bottom: 150px;
}

.new-arrivals-header {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 10px;
  color: rgb(48, 48, 48);
}

.shop-button {
  font-size: 14px;
  text-decoration: underline;
  font-weight: 600;
}

.home-display-image {
  width: 100%;
}

.home-display-image img {
  width: 100%;
}

.home-display-tagline {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  text-align: center;
}

.home-display-tagline-header {
  font-size: 70px;
  font-weight: 900;
  font-family: oswald;
  line-height: 75px;
}

.home-display-tagline-small {
  font-size: 16px;
  margin-top: 20px;
}

.athlete-explore {
  padding: 10px 15px;
  border-radius: 16px;
  border: none;
  background-color: black;
  color: white;
  font-size: 15px;
  margin-top: 30px;
}

.athlete-explore:hover {
  background-color: #808080;
  cursor: pointer;
}

.home-display-mobile {
  display: none;
}

.latest-and-greatest {
  padding: 0px 0px 0px 44px;
  margin-top: 100px;
}

.latest-and-greatest-header {
  font-size: 25px;
}

.latest-and-greates-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 44px 0px 0px;
}

.latest-and-greatest-card-container {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  margin-top: 30px;
  width: 100%;
  padding: 0px 44px 0px 0px;
}

.latest-and-greatest-card-container::-webkit-scrollbar {
  display: none;
}

.latest-and-greatest-card {
  flex: 0 0 auto;
  scroll-snap-align: start;
  margin-right: 16px;
  width: 30%;
}

.latest-and-greatest-image {
  width: 100%;
}

.latest-and-greatest-image img {
  width: 100%;
}

.latest-and-greatest-card-header {
  margin-top: 20px;
  font-size: 20px;
}

.left-navigator,
.right-navigator {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: scale 0.2s;
}

.left-navigator:hover,
.right-navigator:hover {
  scale: 1.1;
}

.latest-and-greatest-navigator {
  display: flex;
  gap: 10px;
}

.shoe-models-absolute {
  position: absolute;
  bottom: 25px;
  left: 30px;
  background-color: white;
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 18px;
}

.shoe-models-relative {
  position: relative;
}

@media (max-width: 960px) {
  body,
  html {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

  .mini-menu {
    display: none;
  }

  .main-menu {
    display: none;
  }

  .search-bar {
    display: none;
  }

  .mobile-search-bar {
    display: block;
  }

  .hamburger-menu {
    display: block;
  }

  .main-navbar-container {
    padding: 0px 22px;
  }

  .wishlist-button {
    display: none;
  }

  .brand-menu {
    margin-top: 30px;
  }

  .mobile-menu-flex {
    display: flex;
    justify-content: space-between;
    padding: 12px 30px;
    font-size: 20px;
    font-weight: 500;
  }

  .mobile-menu-padding {
    display: flex;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: 500;
    gap: 15px;
    align-items: center;
  }

  .brand-flex svg {
    height: 30px;
    width: 30px;
  }

  .nike-member {
    font-size: 20px;
    margin-top: 30px;
    line-height: 30px;
    color: rgb(100, 100, 100);
    padding: 12px 30px;
  }

  .black {
    color: black;
    font-weight: 600;
  }

  .nike-member-buttons {
    margin-top: 10px;
    display: flex;
    gap: 10px;
  }

  .nike-member-buttons button {
    cursor: pointer;
  }

  .nike-member-buttons button:hover {
    background-color: #808080;
  }

  .button-borders {
    padding: 10px 15px;
    border-radius: 18px;
    border: none;
    font-size: 15px;
  }

  .join-us {
    background-color: black;
    color: white;
  }

  .sign-in {
    background-color: white;
    border: 1px solid #808080;
  }

  .home-display-mobile {
    display: block;
  }

  .home-display-image {
    display: none;
  }

  .home-display-tagline-header {
    font-size: 50px;
  }

  .home-display-tagline-small {
    font-size: 14px;
    line-height: 20px;
  }

  .latest-and-greatest {
    padding: 0px 0px 0px 22px;
  }

  .latest-and-greatest-card {
    width: 75%;
  }

  .latest-and-greates-header-container {
    padding: 0px 22px 0px 0px;
  }

  .shoe-models-absolute {
    position: absolute;
    bottom: 30px;
    left: 30px;
    background-color: white;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 16px;
  }

  .shoe-models-relative {
    position: relative;
  }
}
