* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  letter-spacing: 0.4px;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

body,
html {
  overflow-x: hidden;
}

.mini-menu {
  background-color: #f5f5f5;
  padding: 4px 50px;
  max-width: 100%;
}

.sub-brand-logos {
  display: flex;
  gap: 25px;
}

.mini-menu-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
}

.mini-menu-links {
  display: flex;
  gap: 10px;
}

.mini-menu-links p {
  font-size: 12px;
  font-weight: 550;
}

.main-navbar-container {
  padding: 0px 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  max-width: 100%;
}

.brand-logo {
  width: 70px;
  height: 70px;
}

.brand-logo svg {
  height: 100%;
  width: 100%;
  padding: 0;
}

.main-menu {
  display: flex;
  gap: 20px;
  font-weight: 550;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.search-bar-container {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #f5f5f5;
  padding: 5px 70px 5px 10px;
  border-radius: 50px;
  max-width: 100%;
}

.search-bar-container p {
  color: #808080;
  font-weight: 550;
}

.menu-toolbar {
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 100%;
}

.mobile-search-bar {
  display: none;
}

.hamburger-menu {
  display: none;
}

.hamburger-menu-mobile {
  height: 100vh;
  position: absolute;
  background-color: white;
  top: 0;
  right: -100%;
  width: 65%;
  transition: right 0.3s ease-in-out;
  -webkit-box-shadow: -2px 0px 20px -10px rgba(171, 171, 171, 1);
  -moz-box-shadow: -2px 0px 20px -10px rgba(171, 171, 171, 1);
  box-shadow: -2px 0px 20px -10px rgba(171, 171, 171, 1);
}

.hamburger-menu-mobile.open {
  right: 0;
}

.close-button {
  padding: 30px;
  display: flex;
  flex-direction: row-reverse;
}

@media (max-width: 960px) {
  body,
  html {
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

  .mini-menu {
    display: none;
  }

  .main-menu {
    display: none;
  }

  .search-bar {
    display: none;
  }

  .mobile-search-bar {
    display: block;
  }

  .hamburger-menu {
    display: block;
  }

  .main-navbar-container {
    padding: 0px 22px;
    max-width: 100%;
  }

  .wishlist-button {
    display: none;
  }

  .hamburger-menu-mobile {
    display: none;
  }

  .brand-menu {
    margin-top: 30px;
  }

  .mobile-menu-flex {
    display: flex;
    justify-content: space-between;
    padding: 12px 30px;
    font-size: 20px;
    font-weight: 500;
    max-width: 100%;
  }

  .mobile-menu-padding {
    display: flex;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: 500;
    gap: 15px;
    align-items: center;
    max-width: 100%;
  }

  .brand-flex svg {
    height: 30px;
    width: 30px;
  }

  .nike-member {
    font-size: 20px;
    margin-top: 30px;
    line-height: 30px;
    color: rgb(100, 100, 100);
    padding: 12px 30px;
    max-width: 100%;
  }

  .black {
    color: black;
    font-weight: 600;
  }

  .nike-member-buttons {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    max-width: 100%;
  }

  .button-borders {
    padding: 10px 15px;
    border-radius: 18px;
    border: none;
    font-size: 15px;
    max-width: 100%;
  }

  .join-us {
    background-color: black;
    color: white;
  }

  .sign-in {
    background-color: white;
    border: 1px solid #808080;
  }
}
